*
{
  margin:0;
  padding:0;
}
body{
  height: 100vh;
  font-family: "inherit;";
  background-image:url("../imag/t1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:#D5BDAA ;
  opacity: 0.8;
}
.topnav {
  overflow: hidden;
  background-color: #43223A;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}