
.fomrLable
{
    color:#9A4D37;
    font-size: 100%;
}

.formInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.save {
    width: 30%;
    background-color: #9A4D37;
    color: white;
    padding: 4px 4px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.save:hover {
    background-color: #9A4000;
  }
.reset {
    width: 30%;
    background-color: rgb(124, 124, 124);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.reset:hover {
    background-color: #6b6b65;
  }