
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 75%;
    margin: 150px auto;
    border-radius: .25rem;
}

thead tr:first-child {
    background: #ed1c40;
    color: #fff;
    border: none;
}

th:first-child, td:first-child {
    padding: 0 15px 0 20px;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: left;
    padding-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}


.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.row {
    display: table-row;
}

img {
    height: 7rem;
    width: 7rem;
}

body{
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
}
nav {
    position: fixed;
    top: 20px;
    width: 80%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

#admin a{
    font-size: 1.2rem;
}
nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--accent);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.2rem;
}

li:hover, #admin:hover {
    /* background-color: #f2f2f2; */
    cursor: pointer;
}